nav {
    width: 1280px;
    margin: 0 auto;
}

img {
    width: 100%;
}

.logo {
    width: 78.08px;
    height: 28.49px;

}

.conteiner {
    display: flex;
    justify-content: space-between;
}

.nav__items ul{
    display: flex;
    list-style: none;
    gap: 15px;
}
.btn_conteiner div {
    display: flex;}
.btn {
    
    width: 102px;
    height: 51px;
    border: 1px solid #6c63ff;
    border-radius: 2px;
    background-color: transparent;
    font-weight: 700;
    front size: 14px;
    color: #6c63ff;

}

.btn.full {
    background-color: #6c63ff;
    color: white;
}
.col-6{
    width: 45%;
    }
    .header{
        font-weight: 700;
        font-size: 86px;
        line-height: 88px
        letter: spacing -1px; ;
        color: #2f2E41;
    }
.paragraph{
    font-size: 20px;
    line-height: 34px;
    color: #9893a3;
}